
.app {
  ion-grid {
    height: 100%;
    display: flex;
  }
  .logo-section {
    .logo {
      
    }
  }
  .home-text {
    font-size: 20px;
    color: var(--ion-color-secondary-contrast);
  }
  .get-start-btn {
    width: 330px;
    color: rgb (0 145 255);
  }
}  
