<ion-content class="app">
  <ion-grid class="ion-align-items-center ion-justify-content-center">
    <ion-row class="ion-text-center">
      <ion-col size="12" class="logo-section ion-text-center">
        <img src="../../assets/icon/logo.png" class="logo" padding/>
      </ion-col>
      <ion-col size="12">
        <img src="../../assets/icon/group19.png" class="onboad-icon" margin/>
      </ion-col>
      <ion-col size="12" padding>
        <div class="home-text">
          Easily take personal and 
          emergency funds
        </div>
      </ion-col>
      <ion-col size="12" padding>
        <ion-button [routerLink]="['/onboard/login']" class="get-start-btn" color="primary">Get Started</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>